venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

data/raw/*
data/processed/*

models/*
!models/spending_forecast_model.joblib
mlruns/

.pytest_cache/
.vscode/
.idea/

# Local SQLite database
*.db

# Local backup files
*_backup.py
